---
title: "Home | Lone Star Landscaping | TX, USA"
description: "Meta description for the page"
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if kit.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css"/>
    {% endif %}

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-82">
    <div class="cs-container">
        <h1 class="cs-title">Bringing Texas Lawns to Life, One Yard at a Time</h1>
        <p class="cs-text">
             We specialize in transforming outdoor spaces into beautiful, functional landscapes tailored to your vision.
        </p>
        <a href="" class="cs-button-solid">Request Appointment</a>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="./assets/images/landscape-landing.jpg">
        <source media="(min-width: 601px)" srcset="./assets/images/landscape-landing.jpg">
        <img decoding="async" src="./assets/images/landscape-landing.jpg" alt="lawn image" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>
                                

    <!-- ============================================ -->
    <!--                   Services                   -->
    <!-- ============================================ -->

    <section id="h-services-143">
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-icon">
                    <img loading="lazy" decoding="async" src="/assets/svgs/s1.svg" alt="icon" width="52" height="52" aria-hidden="true">
                </picture>
                <h2 class="cs-title">Mowing and Edging</h2>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon">
                    <img loading="lazy" decoding="async" src="/assets/svgs/s2.svg" alt="icon" width="52" height="52" aria-hidden="true">
                </picture>
                <h2 class="cs-title">Fertilization</h2>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon">
                    <img loading="lazy" decoding="async" src="/assets/svgs/s3.svg" alt="icon" width="52" height="52" aria-hidden="true">
                </picture>
                <h2 class="cs-title">Weed Control</h2>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </li>
        </ul>
    </section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1278">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="./assets/images/our-company-mow.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="./assets/images/our-company-mow.jpg">
            <img loading="lazy" decoding="async" src="./assets/images/our-company-mow.jpg" alt="construction" width="738" height="598">
        </picture>
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Company</span>
                <h2 class="cs-title">Professional Landscaping Services Rooted in Texas Values</h2>
            </div>
            <p class="cs-text">
At LoneStar Landscaping, we combine expert craftsmanship with a deep respect for Texas land and climate. From routine lawn care to custom outdoor designs, our services are tailored to help your yard thrive year-round. Whether you're a homeowner looking to upgrade curb appeal or a business needing reliable property maintenance, we’re here to bring your vision to life.            </p>
            <a href="" class="cs-button-solid">Learn More</a>
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->

<section id="sbsr-1279">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="./assets/images/working-guy.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="./assets/images/working-guy.jpg">
            <img loading="lazy" decoding="async" src="./assets/images/working-guy.jpg" alt="construction" width="738" height="598">
        </picture>
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Why Us</span>
                <h2 class="cs-title">Why Texans Trust LoneStar Landscaping</h2>
            </div>
            <p class="cs-text">
                We’re more than just landscapers — we’re your neighbors. At LoneStar Landscaping, we take pride in delivering honest
                work, dependable service, and results that last. Every project is rooted in our commitment to quality,
                communication, and community. That’s why homeowners and businesses across Texas continue to choose us season after
                season. </p>
            <a href="" class="cs-button-solid">Learn More</a>
            </div>
            </div>
            </section>
                                

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-379">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Work</span>
            <h2 class="cs-title">See the Difference for Yourself</h2>
            <p class="cs-text">
                Browse our gallery to explore recent landscaping projects we've completed across Texas. From lush lawns to custom
                stonework, our portfolio highlights the quality, creativity, and care we bring to every yard. Get inspired — your
                outdoor transformation could be next.
            
            </p>
            </div>
        <div class="cs-gallery">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="./assets/images/gallery/gallery-photo-1.jpg">
                <source media="(min-width: 601px)" srcset="./assets/images/gallery/gallery-photo-1.jpg">
                <img loading="lazy" decoding="async" src="./assets/images/gallery/gallery-photo-1.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="./assets/images/gallery/gallery-photo-2.jpg">
                <source media="(min-width: 601px)"srcset="./assets/images/gallery/gallery-photo-2.jpg">
                <img loading="lazy" decoding="async" src="./assets/images/gallery/gallery-photo-2.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="./assets/images/gallery/gallery-photo-3.jpg">
                <source media="(min-width: 601px)" srcset="./assets/images/gallery/gallery-photo-3.jpg">
                <img loading="lazy" decoding="async" src="./assets/images/gallery/gallery-photo-3.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="./assets/images/gallery/gallery-photo-4.jpg">
                <source media="(min-width: 601px)" srcset="./assets/images/gallery/gallery-photo-4.jpg">
                <img loading="lazy" decoding="async" src="./assets/images/gallery/gallery-photo-14jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="./assets/images/gallery/gallery-photo-5.jpg">
                <source media="(min-width: 601px)" srcset="./assets/images/gallery/gallery-photo-5.jpg">
                <img loading="lazy" decoding="async" src="./assets/images/gallery/gallery-photo-5.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="./assets/images/gallery/gallery-photo-6.jpg">
                <source media="(min-width: 601px)" srcset="./assets/images/gallery/gallery-photo-6.jpg">
                <img loading="lazy" decoding="async" src="./assets/images/gallery/gallery-photo-6.jpg" alt="gallery" width="305" height="400">
            </picture>
        </div>
    </div>
</section>
                                

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-67">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Reviews</span>
                <h2 class="cs-title">Words From Our Customers</h2>
                <p class="cs-text">
                    We believe our work speaks for itself — but so do our happy clients. Take a look at what Texas homeowners and
                    businesses
                    are saying about their experience with LoneStar Landscaping. From first-time customers to long-term partners, we’re
                    proud to earn trust through quality, reliability, and results that last. </p>
                </div>
                <ul class="cs-card-group">
                    <!-- Review 1 -->
                    <li class="cs-item">
                    <h1 class="cs-item-header">My lawn has never looked this good!</h1>
                    <p class="cs-item-text">
                        I hired LoneStar Landscaping for bi-weekly maintenance and they’ve completely transformed my yard. The team is
                        always on time, professional, and they really care about the details. Highly recommend for anyone wanting
                        stress-free lawn care! </p>
                    <div class="cs-info">
                        <div class="cs-flex-group">
                            <span class="cs-name">Jon Doe</span>
                            <span class="cs-desc">Homeowner</span>
                        </div>
                        <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg"
                            alt="stars" width="96" height="16">
                    </div>
                </li>
                <!-- Review 2 -->
               <li class="cs-item">
                    <h1 class="cs-item-header">Reliable, honest, and amazing results.</h1>
                    <p class="cs-item-text">
                    From our first consultation to the final touch-ups, LoneStar delivered exactly what they promised — and more. Our new
                    stone patio and flower beds look incredible. It’s rare to find a crew this dependable and talented. </p>
                    <div class="cs-info">
                        <div class="cs-flex-group">
                            <span class="cs-name">Jane Doe</span>
                            <span class="cs-desc">Homeowner</span>
                        </div>
                        <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg"
                            alt="stars" width="96" height="16">
                    </div>
                </li>
            </ul>
            <a href="/reviews/" class="cs-button-solid">Read All Reviews</a>
        </div>
    </section>

    {% include 'sections/cta.html' %}
{% endblock %}